body {
    background-color: #EEF4ED;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    background: #EA9032;
    color: white;
    padding: 30px;
    display: flex;
    font-size: 25px;
    
}

.Logo-gh {
    width: 100px;
    margin-left: 10px;
}



.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    right: 0px;
    margin-right: 8px;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 137px;
    margin-left: 58.8%;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-left: auto; 
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}



.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    

}

.middle-menu-header-desktop {
    display: none;
}

.footer {
    background-color: #EA9032;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.boxer-weekly-offer-desktop {
    display: none; 
}

.boxer-weekly-offer-mobile {
    position: relative; 
    left: 50%;
    top: 240px;
    transform: translate(-50%, -50%);
}


@media (min-width: 860px) {

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .main-content {
    flex-grow: 1; /* This allows the main content area to grow and push the footer down */
    overflow: auto; /* Enable scrolling within the main content area if necessary */
}

    .middle-menu-header-desktop {
        display: inline-block;
        margin-left: auto;
    }

        
    .middle-menu-header-desktop a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }


    .hamburger-icon {
        display: none;
    }

    .middle-menu-header {
        visibility: collapse;
    }

    .boxer-weekly-offer-desktop {
        display: block;
    }

    .boxer-weekly-offer-desktop {
        width: 180px;
        position: relative;
        left: 200px;
        top: 80px;
    }
    .boxer-weekly-offer-mobile {
        display: none;
    }

    .footer {
        background-color: #EA9032;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: auto;
    }
   
}