body {
    background-color: #EEF4ED;
    font-family: Arial, sans-serif;

}

header {
    background: #EA9032;
    color: white;
    padding: 30px;
    display: flex;
    font-size: 25px;
    
}

.Logo-gh {
    width: 100px;
    margin-left: 10px;
}



.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 149px;
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-left: auto; 
}

.Basket,
.Profile {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}

.hamburger-icon {
    margin-left: 10px;
}

.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

@media(min-width: 750px){
    .middle-menu-header {
        display: flex;
        position: static;
        background: #EA9032;
        padding: 5px;
        flex: auto;
        justify-content: center; 

    }

    .hamburger-icon {
        display: none;
    }


    .Basket,
    .Profile {
 
        width: 30px;
        margin-right: 18px;
        padding: 0px;

    }

    .right-menu-header {
        display: flex; 
        margin-top: 20px;
        margin-left: auto; 
    }
    
    .middle-menu-header a{
        padding: 0px;
        margin-right: 35px;
    }
   
}



.footer {
    background-color: #EA9032;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

