body {
    background-color: #ccd3cb;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 250vh;
}

.left-background {

    display: none;
}

.first-section {

    background-size: cover;
    width: 100%;
    background-color: #272727; /* Blue color */
    flex: 1; /* Take 100% height of the remaining space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
}



.middlebackground {

    background-position: center;
    width: 100%;
    background-color: #ccd3cb; /* Blue color */
    color: #EA9032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
}

.trendingtext {
    width: 200px;
    margin-top: 100px;
}

.middlelogo {
    
    width: 100%;
    background-color: #ccd3cb; /* Blue color */
    color: #EA9032;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    margin: 0;
}

.biglogo {
    width: 250px;
    margin-top: 100px;
}

.trending2 {
    
    background-color: #ccd3cb; /* Blue color */
    color: #EA9032;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250vh;
    margin-top: 50px;
}

.search-form {
    margin-top: 135px;
    
    
}

.search-form input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
}

.search-form button {
    padding: 8px 10px;
    background-color: #EA9032;
    color: white;
    border: 1px solid black;
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #45a049;
}


header {
    background: #EA9032;
    color: white;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    
}

.game-section {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px; /* Adjust the margin as needed */

}

#section2 {
    margin-top: 150px;
}

.section6 {
    margin-bottom: 100px;
}

.game-section a {
    text-decoration: none;
    color: black; /* Adjust the color as needed */
}

.game-section img {
   width: 150px;
}


.Logo-gh {
    width: 100px;
    margin-left: 10px;
}



.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    right: 0px;
    margin-right: 0;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 128.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-right: 40px;
    margin-left: auto; 
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}



.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    

}

.middle-menu-header-desktop {
    display: none;
}

.footer {
    background-color: #EA9032;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footertext1 {
    margin-right: 20px;
}


/* DESKTOP */
@media (min-width: 860px) {

    body {
        min-height: 250vh;
    }
 
    .first-section {
        
        flex: 1; /* Take 100% height of the remaining space */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

  

    .game-section {
        display: flex;
        justify-content: space-evenly;
        margin-top: 50px; /* Adjust the margin as needed */

    }
    
    .game-section a {
        text-decoration: none;
        color: black; /* Adjust the color as needed */
    }
    
    .game-section img {
       width: 180px;
    }


    .middle-menu-header-desktop {
        display: inline-block;
        margin-left: auto;
        margin-top: 10px;
    }

        
    .middle-menu-header-desktop a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }


    .hamburger-icon {
        display: none;
    }

    .middle-menu-header {
        visibility: collapse;
    }


    .footer {
        background-color: #EA9032;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: auto;
    }

  
   
}


@media (max-width: 640px) {


    body {

        min-height: 600vh;
    }



    .biglogo {
        margin-top: 0;
    }

    .middlebackground {
        margin-bottom: 120px;
    }

    .game-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        text-align: center;
    }

    .game-section a {
        width: 48%; /* Set the width to less than 50% to account for spacing */
        margin-bottom: 50px; /* Adjust as needed for spacing between rows */
        box-sizing: border-box;
       
    }


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 128.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}


.text-container {
    width: 120%; /* You can adjust this width to your preference */
    margin-top: 28vh;
    text-align: center;
}



}

@media (max-width: 380px) {

    body {
        min-height: 600vh;
    }

    .biglogo {
        margin: 0;
    }

    .middlebackground {
        margin-bottom: 120px;
    }


.game-section a {
    width: 100%; /* Set the width to less than 50% to account for spacing */
    margin-bottom: 50px; /* Adjust as needed for spacing between rows */
    box-sizing: border-box;
   
}

.game-section img {
    width: 195px;
}

.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 114.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}


.right-content {
    width: 50%;
    margin: 0 auto; /* Add this line to center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer {
    font-size: smaller;
}

@media (max-width: 323px) {


body {

    min-height: 500vh;

}

.biglogo {
    margin-top: 0;
    width: 180px;
}

.middlebackground {
    margin-bottom: 120px;
}



.game-section a {
    width: 100%; /* Set the width to less than 50% to account for spacing */
    margin-bottom: 50px; /* Adjust as needed for spacing between rows */
    box-sizing: border-box;
   
}

.game-section img {
    width: 160px;
}

.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 114.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}


.right-content {
    width: 50%;
    margin: 0 auto; /* Add this line to center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}


.Logo-gh {

    width: 70px;
    margin-left: -5px;
    margin-top: 10px;
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 20px;
    margin-right: 10px;

}

header {
    background: #EA9032;
    color: white;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 20px;
    text-align: center;
    
}

.hamburger-icon {
    margin-top: -0.5px;
}




.footer {
    font-size: smaller;
}


}

}

@media (max-width: 236px) {

    .search-form {
        display: none;
    }

}