body {
    background-color: #EEF4ED;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background: #EA9032;
    color: white;
    padding: 30px;
    display: flex;
    font-size: 25px;
    
}

.Logo-gh {
    width: 100px;
    margin-left: 10px;
}



.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    right: 0px;
    margin-right: 8px;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 137px;
    margin-left: 58.8%;
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-left: auto; 
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}



.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;

}

.middle-menu-header-desktop {
    display: none;
}

.footer {
    background-color: #EA9032;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}


@media (min-width: 845px) {

    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .middle-menu-header-desktop {
        display: inline-block;
        margin-left: auto;
    }

        
    .middle-menu-header-desktop a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }


    .hamburger-icon {
        display: none;
    }

    .middle-menu-header {
        visibility: collapse;
    }

    .footer {
        background-color: #EA9032;
        color: white;
        text-align: center;
        padding: 20px;
        margin-top: auto;
    }
   
}