body {
    background-color: #EEF4ED;
    font-family: Arial, sans-serif;
    min-height: 250vh;
    display: flex;
    flex-direction: column;
    margin: 0;
}


header {
    background: #EA9032;
    color: white;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    
}



.Logo-gh {
    width: 100px;
    margin-left: 10px;
}

.main-content {
    display: flex;
   
}


.left-background {
    background-image: url('../images/Components/joystick.png');
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: left;
    width: 50%;
    height: 100vh;
    margin-left: 150px;
    
}


.right-content {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-container {
    width: 80%; /* You can adjust this width to your preference */
    margin-top: 12vh;
    margin-right: 150px;
    text-align: center;
}

.emptycart {
    width: 400px;
}

button {
    color: white; /* Set text color to white */
    padding: 8px 20px;
    background-color: #EA9032;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    width: 200px;
}

.button1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
 
}

button:hover {
    background-color: #45a049;
}


.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    right: 0px;
    margin-right: 0;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 128.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-right: 40px;
    margin-left: auto; 
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}



.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    

}

.middle-menu-header-desktop {
    display: none;
}

.footer {
    background-color: #EA9032;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footertext1 {
    margin-right: 20px;
}

@media (max-width: 888px) {

    .left-background {
     background-size: 150px;
    }

    .emptycart {
        width: 300px;
    }
    

}

@media (max-width: 660px) {

    .left-background {
     display: none;
 }

 .right-content {
    width: 100%;
}

.right-container {
    width: 100%;
    margin-top: 50vh;
    margin-left: 150px;
    
}

.button1 {

   
    margin-top: 30vh;
    

}

}



/* MOBILE-MINI */
@media (max-width: 450px) {


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 128.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}



.text-container {
    width: 120%; /* You can adjust this width to your preference */
    margin-top: 28vh;
    text-align: center;
}

}

@media (max-width: 300px) {

.left-background {
    display: none;

}

.right-content {
    width: 100%;
}

.right-container {
    width: 100%;
    margin-top: 30vh;
    margin-left: 100px;
    
}

.emptycart {
    width: 200px;
    margin-top: 100px;
}

.button1 {

   
    margin-top: 40vh;
    margin-left: 5px;
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 114.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}


.right-content {
    width: 50%;
    margin: 0 auto; /* Add this line to center the container */
    display: flex;
    justify-content: center;
    align-items: center;
}


.Logo-gh {

    width: 70px;
    margin-left: -5px;
    margin-top: 10px;
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 20px;
    margin-right: 10px;

}

header {
    background: #EA9032;
    color: white;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 20px;
    text-align: center;
    
}

.hamburger-icon {
    margin-top: -0.5px;
}

.footer {
    font-size: smaller;
}


}
