body {
    background-color: #D8B9FF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow-x: hidden;
}

img {
    width: fit-content;
}

body {
    background-image: url('../images/register/register.background.png');
    background-size: cover; 
    background-position: center; 
    min-height: 1000px;
    background-repeat: no-repeat;
    background-size: cover;
    
}

h1 {
    color: white;
    margin: 25px;
}


header {
    background-color: #EA9032;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 20px;
}

.topnav {
    list-style-type: none;
    display: flex;
}

.topnav a {
    margin-right: 10px; 
}

.topnav a:last-child {
    margin-right: 45px; 
}


.footer {
    background-color: #EA9032;
    padding: 10px 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
}

.footer img {
    width:180px;
    margin-top: 15px;
    padding: 5px;
}

