body {
    background-color: #B7C0EE;
    font-family: 'Open Sans', Verdana, sans-serif;
}


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    background-color: #F28500;
      }
    

.Logo {
    max-width: 100%;
    height: auto;
    top: 10px;
    left: 30px;
    position: fixed;
    
}

.Home {
    max-width: 100%;
    height: auto;
    position: fixed;
    top: 31px;
    right: 130px;
    
}

.Basket {
    max-width: 100%;
    height: auto;
    position: fixed; 
    top: 32px;
    right: 80px;
}

.Profile {

    max-width: 100%;
    height: auto;
    position: fixed; 
    top: 32px;
    right: 30px;
 }

 main {
    
    margin-top: 110px;
    margin-bottom: 170px;
}

.topnav {
    position: fixed; 
    top: 31px;
    right: 188px;
    padding: 6px;
    border: none;
    font-size: 17px;
}

.topnav input[type=text] {
    padding: 6px;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 50px;
    width: 100%;
    background-color: #F28500;
    color: white;
    text-align: center;
  }

.Register {
    
    max-width: 100%;
    height: auto;
   
}

.Contact {

    max-width: 100%;
    height: auto;
    
}

.About {

    max-width: 100%;
    height: auto;
   
}


   