body {
    background-color: #EEF4ED;
    font-family: Arial, sans-serif;
    min-height: 250vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: url('../images/Frontpage/background-image-frontpage.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
}


.right-background {
    position: relative;
    background-image: url('/images/Components/controller3.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    height: 20vh;
    right: 200px;
    top: 150px;

    
}

        .checkoutsection {
            
            position: relative;
            width: 200px;
            left: 200px;
            top: 20px;
            
        }

        .blackcheckoutimg {
            position: relative;
            left: 190px;
            top: 190px;
            width: 350px;
            margin-bottom: 10px;
        }

        #expiryDate,
        #ccv {
            width: 48%; /* Adjusted to leave some space for separation */
            display: inline-block;
        }
    
        #expiryDate {
            position: relative;
            left: 104px;
            top: -0,95px;
        }

        #ccv {
            position: relative;
            bottom: 54px;
        }


        
         
        button {
            position: relative;
            color: white; /* Set text color to white */
            padding: 8px;
            background-color: #45a049;
            border: 2px solid black;
            border-radius: 5px;
            cursor: pointer;
            width: 200px;
            bottom: 50px;
            
            
        }
        
        
        button:hover {
            
            
            background-color: #34b93b;
            font-size: 13.5px;
        }

        label {
            display: block;
            margin-bottom: 8px;
            
        }

        input {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

header {
    background: #EA9032;
    color: white;
    position: fixed;
    width: 100%;
    padding: 30px;
    display: flex;
    font-size: 25px;
    text-align: center;
    z-index: 1;
    
}


.Logo-gh {
    width: 100px;
    margin-left: 10px;
}



.middle-menu-header {
    position: absolute;
    background: #EA9032;
    padding: 5px;
    right: 0px;
    margin-right: 0;
    
}


.middle-menu-header,
 #menu-checkbox {
    display: none;
    top: 128.5px;
    margin-left: 58.8%;
    margin-right: 60px;
    z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
}

.right-menu-header {
    display: flex; 
    margin-top: 20px;
    margin-right: 40px;
    margin-left: auto; 
}

.Basket,
.Profile,
.hamburger-icon {
 
    width: 30px;
    margin-right: 18px;

}

#menu-checkbox:checked ~ .middle-menu-header {
    display: block;
}



.middle-menu-header a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
    

}

.middle-menu-header-desktop {
    display: none;
}

.footer {
    background-color: #EA9032;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 20px;
    margin-top: auto;
}

.footertext1 {
    margin-right: 20px;
}


@media (max-width: 1041px) {

    .right-background {
     display: none;
     
        
    }

    .checkoutsection {
        
        display: flex;    
        position: static;
        margin: 0 auto;
        margin-top: 25px;
        
        
    }

    .blackcheckoutimg {
        display: flex;
        position: static;
        margin: 0 auto;
        margin-top: 200px;
    }


}



@media (min-width: 860px) {

    body {
        min-height: 220vh;
        display: flex;
        flex-direction: column;
    }

    .main-content {
    flex-grow: 1; /* This allows the main content area to grow and push the footer down */
    overflow: auto; /* Enable scrolling within the main content area if necessary */
}

    .middle-menu-header-desktop {
        display: inline-block;
        margin-left: auto;
        margin-top: 10px;
    }

        
    .middle-menu-header-desktop a {
        display: inline-block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }


    .hamburger-icon {
        display: none;
    }

    .middle-menu-header {
        visibility: collapse;
    }


    .footer {
        background-color: #EA9032;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: auto;
    }
   
}

@media (max-width: 376px) {


    
    header {
        background: #EA9032;
        color: white;
        position: fixed;
        width: 100%;
        padding: 30px;
        display: flex;
        font-size: 20px;
        text-align: center;
        
    }
    

    
    .Logo-gh {
        width: 100px;
        margin-left: 10px;
    }
    
    
    
    .middle-menu-header {
        position: absolute;
        background: #EA9032;
        padding: 5px;
        right: 0px;
        margin-right: 0;
        
    }
    
    
    .middle-menu-header,
    #menu-checkbox {
       display: none;
       top: 114.5px;
       margin-left: 58.8%;
       margin-right: 60px;
       z-index: 1; /* Adjust the z-index value as needed to ensure it appears above other elements */
   }
    
    .right-menu-header {
        display: flex; 
        margin-top: 20px;
        margin-right: 40px;
        margin-left: auto; 
    }
    
    
    #menu-checkbox:checked ~ .middle-menu-header {
        display: block;
    }
    
    
    
    .middle-menu-header a {
        display: block;
        color: white;
        text-decoration: none;
        padding: 0 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
        
    
    }
    
    
    .middle-menu-header-desktop {
        display: none;
    }
    
    .footer {
        background-color: #EA9032;
        color: white;
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 20px;
        margin-top: auto;
    }
    
    .footertext1 {
        margin-right: 20px;
    }
    

    .hamburger-icon {
        margin-top: -0.5px;
    }

    .Basket,
    .Profile,
    .hamburger-icon {
     
        width: 20px;
        margin-right: 10px;
    
    }

    .Logo-gh {
    
        width: 70px;
        margin-left: -5px;
        margin-top: 10px;
    }


    .footer {
        font-size: smaller;
    }
    

}